{% extends 'base.html' %}

{% block title %}Bank Transfers{% endblock %}

{% block content %}
<h1>Bank Transfers</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<ul>
    {% for transfer in bank_transfers %}
        <li>From account: {{ transfer.from_account_number }} - To: {{ transfer.to_account_number }}</li>
    {% empty %}
        <li>No bank transfers available.</li>
    {% endfor %}
</ul>
{% endblock %}